*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    scroll-behavior: smooth;
    // This defines what 1rem is
    
    //1 rem = 10px; 10px/16px = 62.5% font-size: 62.5%; 

    font-size: 50%; // 8px / 16 = 0.5

   // 900px / 16 = 56.25em
    @include respond(tab-port) {
        font-size: 62.5%; // 10px / 16px = 62.5
    }

    // 1200px / 16 = 75em
    @include respond(tab-land) {
        font-size: 80%;
    }

    // 1800px / 16px = 112.5em
    @include respond(big-desktop) {
        font-size: 100%;
    }

     
}


body {
    box-sizing: border-box;
   // padding: 3rem;
    font-size: $default-font-size;
    background-color: $color-white;

}

::selection {
    background-color: $color-primary;
    color: $color-white;
}


ol, ul {
	list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}


  a{text-decoration: none;}

  /* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}

// FORM
input, textarea{ border: none;}

img{
    max-width: 100%;
}

section{
    padding: 10rem 0;

        @include respond(tab-port){padding: 15rem 0;}
}

