#landing-page{
    overflow: scroll;
    scroll-behavior: smooth;
}
.section-features{
    background-color: #f4f4f4;
}

.section-process{
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.7),
        rgba($color-black, 0.7)),
    url(img/hero-min.jpg);
    background-size: cover;

    // 192 dot per inch: 600px / 16px = 37.5 and 2000px / 16 = 125em
    @media only screen and  (min-resolution:192dpi) and (min-width: 37.5em), 
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
            (min-width: 125em){
        background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.7),
            rgba($color-primary-dark, 0.7)),
        url(img/hero.jpg);
        background-size: cover;

    }
   
}

.section-portfolio{
    
}

.about-section{

    
}



.section-contact{
    background-image: linear-gradient(to right bottom, 
    $color-primary-light, $color-primary-dark)

    
    
}

.contact{
    background-image: linear-gradient(90deg, rgba($color-white, .9) 0%, 
    rgba($color-white, .9) 100%,
    transparent 50%), url(img/bkg-img2-min.jpg);
    background-size: cover;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    border-radius: .3rem;
    //height: 50rem;

    @include respond(tab-land){
        background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, 
        rgba($color-white, .9) 60%,
        transparent 50%), url(img/bkg-img2-min.jpg);
        
    }

    @media only screen and (min-resolution:192dpi) and (min-width: 37.5em), 
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
            (min-width: 125em){
        background-image: linear-gradient(90deg, rgba($color-white, .9) 0%, 
        rgba($color-white, .9) 100%,
        transparent 50%), url(img/bkg-img2.jpg);
        background-size: cover;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
        border-radius: .3rem;
    }

    &__form{
        width: 100%;
        padding: 6rem;

        @include respond(tab-land){
            width: 60%;
        }
    }

    
}