.section-features{
    background-color: #f4f4f4;
}

.section-process{
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary, 0.7),
        rgba($color-black, 0.7)),
    url(img/bkg-img2-min.jpg);
    background-size: cover;
   
}

.section-portfolio{
    
}

.about-section{

}