body{
    background-color: #f4f4f4;
    color: #555;
}

h1{
    color: orangered;
    text-transform: uppercase;

    span{
        color: yellow;
    }
}

p{
    color: greenyellow;
    line-height: 1.5;
}