.about-box{

    

    &__heading{ 
        margin-top: -1rem;
    }

    &__boxImg, &__social{
        text-align: center;

        @include respond(tab-land){
            text-align: left;
        }
    }



    &__item{
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__icon{
        width: 5rem;
        height: 5rem;
    }

}
