.about-box{

    &__item{
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__icon{
        width: 5rem;
        height: 5rem;
    }

}
