.card {
    // FUNCTIONALITY
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 30rem;

    // .card:hove .card__side{}
    
    &__side{
        color: $color-white;
        font-size: 2rem;
        height: 30rem;
        width: 100%;

        backface-visibility: hidden;
        transition: all .8s ease;

        position: absolute;
        top: 0;
        left: 0;

        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        overflow: hidden;
        border-radius: .3rem;



        &--font{
            background-color: $color-white;
        }

        &--back{
            transform: rotateY(180deg);

            &--1{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }

            &--2{
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark); 
            }

            &--3{
                background-image: linear-gradient(to right bottom, $color-quaternary-dark-1, $color-quaternary-dark-2); 
            }

        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__img{
        height: 100%;
    }

    &__overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;

        &--1 {
            // background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            background-image:  linear-gradient(rgba($color-tertiary-light, 0.4), rgba($color-tertiary-dark, 0.4));
        }

        &--2 {
             
            background-image:  linear-gradient(rgba($color-primary-light, 0.4), rgba($color-primary-dark, 0.4));
           
        }

        &--3 {
            background-image: linear-gradient(rgba($color-quaternary-dark-1, 0.4), rgba($color-quaternary-dark-2, 0.4));
        }
    }

    

    // FRONT SIDE STYLING
    &__picture{
        background-size: cover;
        height: 30rem;
        
     

       

       

       

       
    }

    // BACK SIDE STYLING

    &__cta {
        @include absCenter;
        width: 80%;
    }

    &__heading{
        
        letter-spacing: .3rem;
        

        .heading-tertiary{
            font-weight: 400;
            font-size: 1.8rem !important;
        }
    }

    &__details {

        ul {
            width: 80%;
            margin: 0 auto;

            li {
                font-size: 1.5rem;
                padding: .5rem;

                
            }
        }
    }

     
    

    
    
}


/*
  
    
    
    */
