.feature-box {
    background-color: rgba($color-white, .8);
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;
    height: auto;


    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    &__icon{
        height: 4rem;
        width: 4rem;
        fill: var(--color-primary, --color-primary-dark);
    }
}


/*=================================================*/
/*           PORTFOLIO PAGE FEATURES BOX           */
/*=================================================*/


.port-features{
    background-color: $color-tertiary-light;
    grid-column: center-start / center-end;

    
    
}





