.form{

    &__group:not(:last-child){
        margin-bottom: .5rem;

    }

    &__input{
        background-color: rgba($color-white, .7);
        border-bottom: .3rem solid transparent;
        font-family: inherit;
        color: inherit;
        display: block;
       

        padding: 1.5rem 2rem;
        border-radius: .2rem;
        font-size: 1.5rem;
        width: 100%;
        

        &::-webkit-input-placeholder{
            color: $color-grey-dark-2;
        }

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: .3rem solid $color-primary;
        }

        &:focus:invalid{
            border-bottom: .3rem solid $color-quaternary-dark-2;
        }
        
    }

    &__textarea{
        width: 100%;
        padding: 2rem;
        font-size: 1.5rem !important;

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: .3rem solid $color-primary;
        }

        &::-webkit-input-placeholder{
            color: $color-grey-dark-2;
        }

        &:focus:invalid{
            border-bottom: .3rem solid $color-quaternary-dark-2;
        }

    }

    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label, &__textarea:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}

////////////////////////////////////////
// SEARCH FORM
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-smallest) {
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-grey-light-2);
    }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}