/*=================================================*/
/*              PORTFOLIO PAGE PORTFOLIO           */
/*=================================================*/



.port-portfolio{
    background-color: $color-quaternary-light-1;
    grid-column: center-start / center-end;

    .grid-card{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 1.5rem;
    }

    
    
}

