.process-box{
    background-color: rgba($color-white, .8);
    //font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;
    height: auto;

    &__header{
        
        &--icon{
            height: 2rem;
           // width: 3rem !important;
            display: inline-block;
        }
        svg{
            width: 3rem !important
        }

        &--heading{display: inline-block;}
    }

    &__icon{
        width: 2rem;
        height: 2rem;
        fill: var(--color-secondary, --color-secondary-dark);
    }

    &__item{
        //font-size: 1.5rem;
        padding: .5rem;

        &:not(:last-child) {
            border-bottom: .1rem solid $color-grey-light-2;
        }

    }

}

