.social-box{

    &__item{
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
    
    &__icon{
        fill: var(--color-secondary, --color-secondary-dark);
        cursor: pointer;
        height: 3rem;
        width: 3rem;

        
        &--googleplus, &--twitter, &--linkedin, &--github, &--facebook{
            -webkit-transition: color .2s;
            transition: color .2s;

        }


        &--googleplus {&:hover{
            fill: var(--color-google-plus);}}

        &--twitter {
            &:hover{fill: var(--color-twitter);}}

        &--linkedin{
            &:hover{fill: var(--color-linkedin);}}

        &--github{
            &:hover{fill: var(--color-github);}}

        &--facebook{
            &:hover{fill: var(--color-facebook);}}
    }

    
    
}