



@include respond(tab-land){
    .Timeline-section{
        background-color: $color-grey-dark !important;
    }

    .timeline{
        
        background-image: url(img/line.png);
        background-repeat: repeat-y;
        background-position: 50% 0; 
        min-height:70rem;
        margin:2rem 0;

        &__box{
            position:relative;
            width:100%;
            min-height:100px;
            margin-bottom:2rem;
        }

        &__box-year{
            background:url(img/point-big.png);
            background-repeat: no-repeat;
            background-position: 50% 0; 

            text-align:center;
            display:block;
            margin:auto;
            width:7rem;
            height:7rem;
            margin-top:2.5rem;
        }

        &__year{
            color:#fff;
            font-size:1.8rem;
            font-weight:bold;
            display:block;
            padding-top:1.5rem;
            text-align:center;
        }

        &__event{
            background:url(img/point-small.png) no-repeat top center;
            margin:auto;
            width:100%;
            overflow:hidden;
            visibility:visible;
            animation:fade;
            animation-duration:2s;

            &--right{
                
            }
        }

        @keyframes fade{
            0%{opacity:0;}
            100%{opacity:1}
        }
        
        // &__event > div
        &__event-box{
            width:45%;
            position:relative;

            &--right{
                float:right;
                background:url(img/arrow-left.png);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            &--left{
                float:left;
                background:url(img/arrow-right.png) top right;
                background-repeat: no-repeat;

            }
        }
        
        &__desc{
            background:#fff;
            border-radius:1rem;
            padding:1.5rem;

            &--left{
                margin-right:2rem;
            }

            &--right{
                margin-left:2rem;
            }
        }
        
        &__time{
            background:#c03b44;
            color:#fff;
            font-size:1.2rem;
            padding:.5rem;
            border-radius:.5rem;
        }
    }

}











