/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 50%; }
  @media (min-width: 53.125em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 75em) {
    html {
      font-size: 80%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 100%; } }

body {
  box-sizing: border-box;
  font-size: 1.6rem; }

::selection {
  background-color: #18BC9C;
  color: #fff; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

a {
  text-decoration: none; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

body {
  background-color: #f4f4f4;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #555; }

h1, h2, h2, h4 {
  text-align: center; }

h1 {
  color: orangered;
  text-transform: uppercase; }
  h1 span {
    color: yellow;
    text-transform: capitalize; }

p {
  color: greenyellow; }
  p:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (min-width: 53.125em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (min-width: 53.125em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #ddd; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #18BC9C;
  color: #fff; }
  .btn--green::after {
    background-color: #18BC9C; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #18BC9C;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #18BC9C;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #18BC9C;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 37.5em) {
    .container {
      max-width: 54rem; } }
  @media (min-width: 768px) {
    .container {
      max-width: 72rem; } }
  @media (min-width: 56.25em) {
    .container {
      max-width: 96rem; } }
  @media (min-width: 75em) {
    .container {
      max-width: 114rem; } }

.container-full-width {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 6rem) / 5); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.navigation {
  position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__checkbox:checked ~ .navigation__nav .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(135deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(-135deg);
    top: 0; }
  .navigation__button {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 2000; }
    @media (min-width: 53.125em) {
      .navigation__button {
        display: none; } }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      background-color: #555;
      display: inline-block;
      width: 3rem;
      height: 2px; }
    .navigation__icon::before, .navigation__icon::after {
      position: absolute;
      content: "";
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__background {
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    z-index: 1000;
    background-image: radial-gradient(#7ed56f, #15a589);
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media (min-width: 53.125em) {
      .navigation__background {
        transition: none;
        display: none; } }
  .navigation__nav {
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    height: 100vh;
    width: 0; }
    @media (min-width: 53.125em) {
      .navigation__nav {
        transition: none;
        position: relative;
        width: 100%;
        height: auto;
        opacity: 1; }
        .navigation__nav::after {
          content: "";
          display: table;
          clear: both; } }
  .navigation__list {
    position: relative;
    text-align: center;
    float: none; }
    @media (min-width: 53.125em) {
      .navigation__list {
        margin-right: 2rem;
        float: right; } }
  .navigation__item {
    margin: 1rem; }
    @media (min-width: 53.125em) {
      .navigation__item {
        display: inline-block; } }
  .navigation__link:link, .navigation__link:visited {
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    padding: 1rem 2rem;
    font-weight: 300;
    font-size: 3rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%;
    transition: all .4s; }
    @media (min-width: 53.125em) {
      .navigation__link:link, .navigation__link:visited {
        color: #2C3E50;
        padding: 1rem;
        font-size: 1.5rem; } }
  .navigation__link:hover, .navigation__link:active {
    transform: translateX(1rem);
    background-position: 100%;
    color: #18BC9C; }
