.header {
    height: 90vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-secondary-dark, 0.8)),
    url(img/bkg-img3-min.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    

   

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
            only screen and (min-width: 125em) {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-secondary-dark, 0.8)),
        url(img/bkg-img3-min.jpg);
    }

   

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 6rem;
    }
    
    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}



// RESUME HEADER

.resume-header{
    background-color: var(--color-secondary-dark);
    border-bottom: var(--line);
    

    &__container{
        padding: 1rem 2rem;
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(phone){
            padding: 1rem 3rem;
        }
    }

    
    &__profile-img{
        max-width: 10rem;
        max-height: 10rem;
        border-radius: 50%;

    }

    &__profile-box{
        display: flex;
        align-items: center;

        &:hover {
            background-color: var(--color-grey-light-2);
        }
    }

    &__btn:link{
        padding: 1.5rem;
        @include respond(phone){
            padding: 1.5rem 3rem;
        }
    }
    
}









